﻿

@model List<OrderFood.Web.Models.CartInput>
<script src="~/Scripts/cart.js"></script>
@if (Model.Count <= 0)
{

    return;
}
<table id="cart" class="table table-hover table-condensed">
    <thead>
        <tr>
            <th style="width:50%">Product</th>
            <th style="width:10%">Price</th>
            <th style="width:8%">Quantity</th>
            <th style="width:22%" class="text-center">Subtotal</th>
            <th style="width:10%"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td data-th="Product">
                    <div class="row">
                        <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive" /></div>
                        <div class="col-sm-10">
                            <h4 class="nomargin">@item.Name</h4>
                            <p>@item.Details</p>
                        </div>
                    </div>
                </td>
                <td data-th="Price">@item.Price</td>
                <td data-th="Quantity">
                    <input type="number" class="form-control text-center item-number" data-id="@item.Id" value="@item.Quantity">
                </td>
                <td data-th="Subtotal" class="text-center">@(item.Price * item.Quantity)</td>
                <td class="actions" data-th="">
                    <button data-id="@item.Id" class="btn btn-danger btn-sm delete-cart"><i class="fa fa-trash-o"></i></button>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr class="visible-xs">
            <td class="text-center"><strong>Total @(Model.Sum(t => t.Price * t.Quantity))</strong></td>
        </tr>
        <tr>
            <td colspan="2" class="hidden-xs"></td>
            <td class="hidden-xs text-center"><strong>Total @(Model.Sum(t=>t.Price * t.Quantity))</strong></td>
            <td><a href="#" id="order" class="btn btn-success btn-block">Order <i class="fa fa-angle-right"></i></a></td>
        </tr>
    </tfoot>
</table>
