﻿@model OrderFood.Web.Models.HomeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css">
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/style1.css">
</head>
<body>
    <section>
        <nav>
            <div class="container">
                <ul class="navbar-left">
                    <li><a href="#">Home</a></li>
                    <li><a href="#about">About</a></li>
                </ul> <!--end navbar-left -->

                <ul class="navbar-right">
                    <li><a href="#" id="cart"><i class="fa fa-shopping-cart"></i> Cart <span class="badge">0</span></a></li>
                </ul> <!--end navbar-right -->
            </div> <!--end container -->
        </nav>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-12 dish-menu">
                    <ul class="nav nav-pills">
                        <li class="active">
                            <a href="#menu" class="nav-link" data-toggle="tab">Set Menu</a>
                        </li>
                        <li>
                            <a href="#food" class="nav-link" data-toggle="tab">Food & Drink</a>
                        </li>
                        <li>
                    </ul>
                    <div class="tab-content content-menu clearfix">
                        <div class="tab-pane active" id="menu">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 col-md-3">
                                    @foreach (var item in Model.Menus)
                                    {
                                        <div class="col-item">
                                            <div class="post-img-content">
                                                <img src="@(item.Image != null ? @Url.Content(string.Format("~/Upload/Image/{0}", item.Image)) : @Url.Content("~/Upload/Image/default-placeholder.png"))" class="img-responsive" />
                                                <span class="post-title">
                                                    <b>@item.Name</b><br>
                                                    <b>@item.Ingredient</b>
                                                </span>
                                                @if (item.IsSale)
                                                {
                                                    var value = (item.SalePrice - item.Price) / item.Price * 100;
                                                    var percentage = Convert.ToInt32(Math.Round(value, 0));
                                                    <span class="round-tag">@percentage%</span>
                                                }

                                            </div>
                                            <div class="info">
                                                <div class="row">
                                                    <div class="price col-md-6">
                                                        @if (item.IsSale)
                                                        {
                                                            <h5 class="price-text-color" style="text-decoration: line-through">@item.Price</h5>
                                                        }
                                                        else
                                                        {
                                                            <h5 class="price-text-color">@item.Price</h5>
                                                        }
                                                    </div>
                                                    <div class="rating hidden-sm col-md-6">
                                                        <h5 class="price-text-color">@(item.IsSale ? @item.SalePrice.ToString() : string.Empty)</h5>
                                                    </div>
                                                </div>
                                                <div class="separator clear-left">
                                                    <p class="btn-add">
                                                        <i class="fa fa-shopping-cart"></i><a href="#" data-id="@item.Id" class="hidden-sm add-cart">Add to cart</a>
                                                    </p>
                                                    <p class="btn-details">
                                                        <i class="fa fa-list"></i><a href="#" class="hidden-sm">More details</a>
                                                    </p>
                                                </div>
                                                <div class="clearfix">
                                                </div>
                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>

                        </div>
                        <div class="tab-pane" id="food">
                            <div class="row">
                                <div class="col-md-12">
                                    <ul class="nav nav-pills">
                                        @for (int i = 0; i < Model.Foods.Keys.Count; i++)
                                        {
                                            var e = @Model.Foods.Keys.ElementAt(i);
                                            var active = i == 0 ? "active" : string.Empty;
                                            <li class="@active">
                                                <a href="#@e.Id" data-toggle="tab">@e.Name</a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 content-food">
                                    <div class="tab-content clearfix">
                                        @for (int i = 0; i < Model.Foods.Keys.Count; i++)
                                        {
                                            var id = @Model.Foods.Keys.ElementAt(i).Id;
                                            var active = i == 0 ? "active" : string.Empty;
                                            <div class="tab-pane @active" id="@id">
                                                <div class="row">
                                                    @{
                                                        var foods = Model.Foods.Values.ElementAt(i);
                                                        if (foods != null)
                                                        {
                                                            foreach (var item in foods)
                                                            {
                                                                if (item != null)
                                                                {
                                                                    <div class="col-xs-12 col-sm-6 col-md-3">
                                                                        <div class="col-item">
                                                                            <div class="post-img-content">
                                                                                <img src="@(item.Image != null ? @Url.Content(string.Format("~/Upload/Image/{0}", item.Image)) : @Url.Content("~/Upload/Image/default-placeholder.png"))" class="img-responsive" />
                                                                                <span class="post-title">
                                                                                    <b>@item.Name</b><br>
                                                                                    <b>@item.Ingredient</b>
                                                                                </span>
                                                                                @if (item.IsSale)
                                                                                {
                                                                                    var value = (item.SalePrice - item.Price) / item.Price * 100;
                                                                                    var percentage = Convert.ToInt32(Math.Round(value, 0));
                                                                                    <span class="round-tag">@percentage%</span>
                                                                                }

                                                                            </div>
                                                                            <div class="info">
                                                                                <div class="row">
                                                                                    <div class="price col-md-6">
                                                                                        @if (item.IsSale)
                                                                                        {
                                                                                            <h5 class="price-text-color" style="text-decoration: line-through">@item.Price</h5>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <h5 class="price-text-color">@item.Price</h5>
                                                                                        }
                                                                                    </div>
                                                                                    <div class="rating hidden-sm col-md-6">
                                                                                        <h5 class="price-text-color">@(item.IsSale ? @item.SalePrice.ToString() : string.Empty)</h5>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="separator clear-left">
                                                                                    <p class="btn-add">
                                                                                        <i class="fa fa-shopping-cart"></i><a href="#" data-id="@item.Id" class="hidden-sm add-cart">Add to cart</a>
                                                                                    </p>
                                                                                    <p class="btn-details">
                                                                                        <i class="fa fa-list"></i><a href="#" class="hidden-sm">More details</a>
                                                                                    </p>
                                                                                </div>
                                                                                <div class="clearfix">
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                }

                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <div class="modal fade" id="cart-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cart</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @*<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.21.0/moment.min.js" type="text/javascript"></script>

    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/home.js"></script>
</body>
</html>
