﻿
<form action="#" id="order-form">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control" name="name" placeholder="Your Name">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Email</label>
                <input type="text" name="email" class="form-control" placeholder="Your Email">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Phone</label>
                <input type="text" class="form-control" name="phone" placeholder="Phone">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Date</label>
                <input type="text" class="form-control" name="date" id="book_date" placeholder="Date">
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="">Person</label>
                <div class="select-wrap one-third">
                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                    <select name="Quantity" id="" class="form-control">
                        <option value="">Person</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4+">4+</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12 mt-3">
            <div class="form-group">
                <input type="submit" id="order-btn" value="Make a Reservation" class="btn btn-primary py-3 px-5">
            </div>
        </div>
    </div>
</form>
<script src="~/Scripts/order.js"></script>