﻿.dish-menu .nav-pills .nav-link {
    float: left;
    border-radius: 0;
    margin-bottom: 0;
    background: white;
    -webkit-box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
    -ms-box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
    -o-box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 4px 18px -12px rgba(0, 0, 0, 0.75);
    margin-left: 4px;
    margin-right: 4px;
    color: #a5a5ab;
    font-weight: 700;
}

.dish-menu .nav-pills .active a {
    background: #ffb400 !important;
    color: #404044 !important;
    margin-top: -5px !important;
}

.tab-pane .menus {
    width: 100%;
    background: #fff;
    padding: 15px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 1px 18px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 1px 18px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 1px 18px -12px rgba(0, 0, 0, 0.75);
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

    .tab-pane .menus .text {
        width: calc(100% - 100px);
    }

        .tab-pane .menus .text .one-half {
            width: calc(100% - 80px);
        }

            .tab-pane .menus .text .one-half h3 {
                font-size: 18px;
            }

            .tab-pane .menus .text .one-half p {
                margin-bottom: 0;
            }

        .tab-pane .menus .text .one-forth {
            width: 80px;
            text-align: right;
        }

            .tab-pane .menus .text .one-forth .price {
                font-size: 30px;
                color: #404044;
                line-height: 1.4;
            }

    .tab-pane .menus:hover {
        background: #ffb400;
    }

        .tab-pane .menus:hover .text .one-half p {
            margin-bottom: 0;
            color: #404044;
        }

    .tab-pane .menus .menu-img {
        margin-right: 20px;
        width: 70px;
        height: 70px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        border-radius: 50%;
    }

.d-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
}

@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);

.col-item {
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    background: #FFF;
}

    .col-item:hover {
        box-shadow: 0px 2px 5px -1px #000;
        -moz-box-shadow: 0px 2px 5px -1px #000;
        -webkit-box-shadow: 0px 2px 5px -1px #000;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 10px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        border-bottom: 2px solid #52A1D5;
    }

    .col-item .photo img {
        margin: 0 auto;
        width: 100%;
        padding: 1px;
        border-radius: 10px 10px 0 0;
    }

    .col-item .info {
        padding: 10px;
        border-radius: 0 0 5px 5px;
        margin-top: 1px;
    }

    .col-item .price {
        /*width: 50%;*/
        float: left;
        margin-top: 5px;
    }

        .col-item .price h5 {
            line-height: 20px;
            margin: 0;
        }

.price-text-color {
    color: white;
    font-weight: bold;
}

.col-item .info .rating {
    color: #777;
}

.col-item .rating {
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator {
    border-top: 1px solid #E1E1E1;
}

.clear-left {
    clear: left;
}

.col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

    .col-item .separator p i {
        margin-right: 5px;
    }

.col-item .btn-add {
    width: 50%;
    float: left;
}

.col-item .btn-add {
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details {
    width: 50%;
    float: left;
    padding-left: 10px;
}

.controls {
    margin-top: 20px;
}

[data-slide="prev"] {
    margin-right: 10px;
}

/*
Hover the image
*/
.post-img-content {
    height: 196px;
    position: relative;
}

    .post-img-content img {
        position: absolute;
        padding: 1px;
        border-radius: 10px 10px 0 0;
    }

.post-title {
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}

    .post-title b {
        background-color: rgba(51, 51, 51, 0.58);
        display: inline-block;
        margin-bottom: 5px;
        margin-left: 2px;
        color: #FFF;
        padding: 10px 15px;
        margin-top: 10px;
        font-size: 12px;
    }

        .post-title b:first-child {
            font-size: 14px;
        }

.round-tag {
    width: 60px;
    height: 60px;
    border-radius: 50% 50% 50% 0;
    border: 4px solid #FFF;
    background: #37A12B;
    position: absolute;
    bottom: 0px;
    padding: 15px 6px;
    font-size: 17px;
    color: #FFF;
    font-weight: bold;
}


.lighter-text {
    color: #ABB0BE;
}

.main-color-text {
    color: #6394F8;
}

nav {
    padding: 20px 0 40px 0;
    background: #F8F8F8;
    font-size: 16px;
}

    nav .navbar-left {
        float: left;
    }

    nav .navbar-right {
        float: right;
    }

    nav ul li {
        display: inline;
        padding-left: 20px;
    }

        nav ul li a {
            color: #777777;
            text-decoration: none;
        }

            nav ul li a:hover {
                color: black;
            }


.badge {
    background-color: #6394F8;
    border-radius: 10px;
    color: white;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    padding: 3px 7px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#food, .content-food, .content-menu {
    margin-top: 30px
}

.nav-pills {
    text-align: center;
}

    .nav-pills > li {
        float: none;
        display: inline-block;
    }
    