﻿@model List<OrderFood.Web.Areas.Manage.Models.CategoryViewModel>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Category Management</h1>
    <a href="#" id="add-btn"  @*data-toggle="modal" data-target="#add-food"*@ class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">@*<i class="fas fa-download fa-sm text-white-50"></i>*@New Category</a>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Category</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="main-table" width="100%" cellspacing="0" style="text-align: center">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Active</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Active</td>
                                <td>
                                    <div class="dropdown no-arrow mb-4" style="text-align: center">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            :::
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item edit-btn" data-id="@item.Id" href="#">Edit</a>
                                            <a class="dropdown-item" data-id="@item.Id" href="#">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="modal-append"></div>