﻿@using OrderFood.Web.Constants
@model OrderFood.Web.Areas.Manage.Models.CreateOrEditViewModel
<div class="modal fade" id="add-food" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Food</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-food-form">
                    @Html.HiddenFor(m => m.Id)
                    @Html.HiddenFor(m => m.Type)
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Food Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="Name" placeholder="Enter Name" value="@Model.Name">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Price</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="Price" value="@Model.Price.ToString()">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Sale Price</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" value="@Model.SalePrice" name="SalePrice">
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Image</label>
                        <input type="file" class="form-control-file" id="food-image" name="Image">
                    </div>
                    @if (Model.Type == FoodType.Food)
                    {
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Category</label>
                            <select class="categories form-control" name="CategoryId">
                                @foreach (var item in Model.Categories)
                                {
                                    <option value="@item.Value" @(item.Selected?"selected":string.Empty)>@item.Text</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Ingredient</label>
                            <textarea class="form-control" name="Ingredient" id="exampleFormControlTextarea1" rows="3">@Model.Ingredient</textarea>
                        </div>
                    }
                    else if (Model.Type == FoodType.Menu)
                    {
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1">Details</label>
                            <textarea class="form-control" name="Details" id="exampleFormControlTextarea1" rows="3">@Model.Details</textarea>
                        </div>
                    }

                    <div class="form-group">
                        Is Sale
                        <label class="switch ">
                            <input type="checkbox" id="IsSale" @(Model.IsSale ? "checked" : string.Empty) class="primary" name="IsSale">
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <div class="form-group">
                        Active
                        <label class="switch">
                            <input type="checkbox" class="primary" @(Model.Active ? "checked" : string.Empty) name="Active">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </form>
                    
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="save-food-btn" href="#">Save</a>
            </div>
        </div>
    </div>
</div>
