﻿@model OrderFood.Web.Areas.Manage.Models.CategoryViewModel
<div class="modal fade" id="add-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Category</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-form">
                    @Html.HiddenFor(m => m.Id)
                    <div class="form-group">
                        <label for="exampleFormControlInput1">Food Name</label>
                        <input type="text" class="form-control" id="exampleFormControlInput1" name="Name" placeholder="Enter Name" value="@Model.Name">
                    </div>
                    <div class="form-group">
                        Active
                        <label class="switch">
                            <input type="checkbox" class="primary" @(Model.Active ? "checked" : string.Empty) name="Active">
                            <span class="slider round"></span>
                        </label>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" id="save-btn" href="#">Save</a>
            </div>
        </div>
    </div>
</div>

