﻿@using OrderFood.Web.Constants
@model List<OrderFood.Web.Areas.Manage.Models.FoodViewModel>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">@(ViewBag.Type == FoodType.Food ? "Food Management" : "Menu Management")</h1>
    <a href="#" id="add-food-btn" data-type="@ViewBag.Type" @*data-toggle="modal" data-target="#add-food"*@ class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">@(ViewBag.Type==FoodType.Food?"New Food":"New Menu")</a>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">@(ViewBag.Type == FoodType.Food ? "Food" : "Menu")</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="food-table" width="100%" cellspacing="0" style="text-align: center">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        @if (ViewBag.Type == FoodType.Food)
                        {
                            <th>Ingredient</th>
                        }
                        else if (ViewBag.Type == FoodType.Menu)
                        {
                            <th>Details</th>
                        }
                        <th>Price</th>
                        <th>Sale Price</th>
                        <th>Is Sale</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td><img src="@string.Format("/Upload/Image/{0}",@item.Image)" style="max-width: 60px;" /></td>
                                <td>@item.Name</td>
                                @if (ViewBag.Type == FoodType.Food)
                                {
                                    <td>@item.Ingredient</td>
                                }
                                else if (ViewBag.Type == FoodType.Menu)
                                {
                                    <td>@item.Details</td>
                                }
                                <td>@item.Price</td>
                                <td>@item.SalePrice</td>
                                <td>@item.IsSale</td>
                                <td>
                                    <div class="dropdown no-arrow mb-4" style="text-align: center">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            :::
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item edit-food" data-id="@item.Id" data-type="@ViewBag.Type" href="#">Edit</a>
                                            <a class="dropdown-item" data-id="@item.Id"  href="#">Delete</a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="modal-append"></div>