﻿@model List<OrderFood.Web.Areas.Manage.Models.OrderDetailsViewModel>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Quantity</th>
    </tr>
    </thead>
    <tbody>
    @{ var i = 1;}
    @foreach (var item in Model)
    {
        <tr>
            <th scope="row">@i</th>
            <td>@item.Name</td>
            <td>@item.Quantity</td>
        </tr>
        i++;
    }

    </tbody>
</table>
