﻿@model List<OrderFood.Web.Areas.Manage.Models.OrderViewModel>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Order Management</h1>
</div>
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Order</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="main-table" width="100%" cellspacing="0" style="text-align: center">
                <thead>
                    <tr>
                        <th>Order Id</th>
                        <th>Customer Name</th>
                        <th>Number Of People</th>
                        <th>Phone Number</th>
                        <th>Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td><a href="#" class="details-item" data-id="@item.Id">@item.Id</a></td>
                                <td>@item.CustomerName</td>
                                <td>@item.Quantity</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.Time.Value.ToUniversalTime()</td>
                                <td>
                                    <div class="dropdown no-arrow mb-4" style="text-align: center">
                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            @item.Status
                                        </button>
                                        @if (item.StatusItems().Count > 0)
                                        {
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                @foreach (var i in item.StatusItems())
                                                {
                                                    <a class="dropdown-item order-status" data-id="@item.Id" data-value="@i.Value" href="#">@i.Text</a>
                                                }
                                            </div>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="modal-append"></div>
<div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Details</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
            

            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>


<script src="~/Areas/Manage/Assets/js/order.js"></script>
